fastapi
uvicorn
sqlalchemy
python-dotenv
pydantic
langgraph
openai
pymysql
openpyxl
redis==5.0.0
click==8.1.7

# MongoDB
pymongo
motor

# Dashboard / Monitoring
grafana-api

# Optional
pandas
numpy
ragas
datasets
langchain-community
rapidfuzz
datasets